<footer class="footer">
<div class="container">
	<nav class="nav nav--footer">
	<div class="nav__logo nav__logo--footer">
		<img src="../assets/images/lgo.png" alt="">
			<div class="logo__content">
				<div class="nav__subtitle">DART</div>
				<div class="nav__title">service manager</div>
		</div>
		</div>
		<ul class="nav__list nav__list--footer">
			<li><a href="#" class="nav__link">Home</a></li>
			<li><a href="#" class="nav__link">Service</a></li>
			<li><a href="#" class="nav__link">Extension</a></li>
			<li><a href="#" class="nav__link">Pricing</a></li>
			
		</ul>
	</nav>

	<div class="footer__bootom">
		<ul class="footer__left">
			
				<li class="footer__list"><a href="#" class="footer__link">Privecy Policy</a></li>
				<span class="footer__radius"></span>
				<li class="footer__list"><a href="#" class="footer__link">About us</a></li>
				<span class="footer__radius"></span>
				<li class="footer__list"><a href="#" class="footer__link">About us</a></li>
			</ul>
			<div class="footer__right">
				<a href="#"><img class="footer__ico" src="../assets/images/ico/001-instagram.svg" alt="">
				</a>
				<a href="#"><img class="footer__ico" src="../assets/images/ico/002-facebook-logo.svg" alt="">
				</a>
				<a href="#">
				<img class="footer__ico" src="../assets/images/ico/003-twitter.svg" alt="">
			</a>
			</div>
		
	</div>




</div> <!--container-->


</footer>
