<header class="header">
	<div class="container">
	<nav class="nav">
		<div class="nav__logo">
		<img class="logo" src="../assets/images/lgo.png" alt="">
			<div class="logo__content">
				<div class="nav__subtitle">DART</div>
				<div class="nav__title">service manager</div>
		</div>
		</div>
		<ul class="nav__list">
			<li><a href="#" class="nav__link">Home</a></li>
			<li><a href="#" class="nav__link">Service</a></li>
			<li><a href="#" class="nav__link">Extension</a></li>
			<li><a href="#" class="nav__link">Pricing</a></li>
			<li><a href="#" class="nav__link">Help</a></li>
		</ul>
		<div class="nav__end">
			<button class="nav__btn">sign Up</button>
		</div>
	</nav>


	<!-- nav -->

	<div class="elements">
		<div class="elements__content">
			<div class="elements__title">lorem Ipsum Dolor sit amet</div>
			<div class="elements__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc</div>
           <button class="elements__btn">Buy Now</button>
           <button class="elements__btn">TRY for free</button>
		</div>
		<div class="videos">
		<video src="#" poster="../assets/images/Rounded_.png" class="video">
		</video>
		<div class="video__items">
			<div class="video__play">
				<div class="video__white"></div>
			</div>
			<div class="video__title">Watch the video</div>
		</div>
	</div>
	</div>

</div>
</header>
